<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Timesheet</div>
    <div class="page__content shadow p-3 position-relative">
        <!-- <div class="page__content-data position-absolute text-center"> -->
        <!-- </div> -->
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="abc" class="h6">Date</label>
                        <input type="date" class="form-control" id="abc" name="Date" [(ngModel)]="timeSheet.Date"
                            placeholder="Date">
                    </div>
                    <!-- <div class="col-sm-2">
                        <input type="time" class="form-control" name="Duration" [(ngModel)]="timeSheet.Duration"
                            placeholder="Time">
                    </div> -->
                    <div class="col-sm-4">
                        <label for="abc" class="h6">Project</label>
                        <select name="" class="form-select" name="Project" [(ngModel)]="timeSheet.Project">
                            <option value="0">Select Project</option>
                            <option *ngFor="let data of projects" [value]="data.ProjectName">{{data.ProjectName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="abc" class="h6">Task</label>
                        <select name="" class="form-select" name="Task" [(ngModel)]="timeSheet.Task">
                            <option value="0">Select Task</option>
                            <option *ngFor="let data of task" [value]="data.TaskName">{{data.TaskName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="abc" class="h6">Hours</label>
                        <select name="" class="form-select" name="Task" [(ngModel)]="timeSheet.Hours">
                            <option value="0">Select Hours</option>
                            <option *ngFor="let data of hours" [value]="data">{{data}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="abc" class="h6">Minutes</label>
                        <select name="" class="form-select" name="Task" [(ngModel)]="timeSheet.Minutes">
                            <option *ngFor="let data of minutes" [value]="data">{{data}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4" *ngIf="timeSheet.Task == 'Other'">
                        <label for="abc" class="h6">Custom Task</label>
                        <input type="text" class="form-control" name="CustomTask" [(ngModel)]="timeSheet.CustomTask"
                            placeholder="Custom Task">
                    </div>
                </div>
            </div>
            <div class=" flex-container form-group">
                <div class="col-sm-6">
                    <label for="abc" class="h6">Description</label>
                    <textarea class="form-control" name="Description" [(ngModel)]="timeSheet.Description"
                        placeholder="Description" rows="3"></textarea>
                </div>
                <div class="col-sm-1">
                    <!-- <mat-icon class="add-btn" (click)="addTimeSheet()">add_box</mat-icon> -->
                    <button mat-raised-button color="default" (click)="addTimeSheet()" class="add1">Add</button>
                </div>
            </div>
        </form>
        <table class="mt-2" datatable [dtOptions]="dtOptions" *ngIf="timeSheetDetails.length != 0" class="table"
            style="width: 100%;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Duration</th>
                    <th>Description</th>
                    <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of timeSheetDetails;">
                    <td>{{item.Date}}</td>
                    <td>{{item.Project}}</td>
                    <td>{{item.Task}}<span *ngIf="item.task == 'Other'">({{item.CustomTask}})</span></td>
                    <td>{{item.Duration}}</td>
                    <td>{{item.Description}}</td>
                    <td>
                        <mat-icon class="btn-action" (click)="editTimeSheet(item)">create</mat-icon>
                        <!-- <button mat-raised-button color="default" (click)="editTimeSheet(item)">Edit</button> -->
                        <mat-icon class="btn-action p-l" (click)="deleteTimeSheet(i)">delete</mat-icon>
                        <!-- <button mat-raised-button color="default" (click)="deleteTimeSheet(item)">Delete</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>