<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <!-- <div class="page__content-data position-absolute text-center">

    </div> -->
    <div class="flex-container">
      <div class="card">
        <div class="card-body">
          Total Leaves - 20
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Total Leaves - 20
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Total Leaves - 20
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Total Leaves - 20
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Total Leaves - 20
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          Total Leaves - 20
        </div>
      </div>
    </div>
  </div>